<!-- Header -->
<app-header>
</app-header>

<!-- Post's body -->
<div class="post-body text">
    <div class="content">
        <p class="grey" style="margin-bottom: 10px">Posted by {{post.author}} {{day}} days ago</p>
        <a routerLink="/post"><button class="back" mat-stroked-button>Back</button></a>
        <h2 style="margin:0px">{{post.title}}</h2>
        <div class="votes">
            <p>upvotes: {{post.upvotes}}</p>
            <p>downvotes: {{post.downvotes}}</p>
            <p>total: {{post.upvotes*1-post.downvotes*1}}</p>
        </div>
        <p>{{post.content}}</p>
    </div>

    <hr>

    <br>
    <div class="allComments" *ngFor="let comment of post.comments">
        <div class="comment">
            <div class="commentBody">
                <p class="grey">{{comment.author}}</p>
                <p>{{comment.content}}</p>
            </div>
            <div class="votes">
                <p>+{{comment.upvotes}}</p>
                <p>-{{comment.downvotes}}</p>
            </div>
        </div>
    </div>
</div>